body {
  font-family: 'Inter', sans-serif;
}

.bg-grid {
  background-size: 32px 32px;
  background-image: radial-gradient(circle, rgba(148, 163, 184, 0.12) 1px, transparent 1px);
}

.dark .bg-grid {
  background-image: radial-gradient(circle, rgba(255, 255, 255, 0.05) 1px, transparent 1px);
}